/* background gradient*/
.bg-gradient-primary {
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(96,11,45,0.03545168067226889) 35%, rgba(0,212,255,1) 100%);
}

.bg-gradient-secondary {
	background: rgb(238,174,202);
	background: radial-gradient(circle, rgba(238,174,202,1) 28%, rgba(177,148,233,1) 64%);
}