{% extends 'base.html' %}

{% load thumbnail %}

{% block title %}
    Vu's Blog
{% endblock %}

{% block content %}

<main role="main">
    <div class="container">
        <h1 class="text-center pt-3">Welcome to Vu's Blog</h1>
        <br />
        <br />
        <h2>Latest Posts</h2>
        <hr />
        {% for blog in blogs.all %}
        <a href="{% url 'detail' blog.id %}"><h3>{{ blog.title }}</h3></a>
        {{ blog.pub_date_pretty }}
        <img class="bd-placeholder-img card-img-top" src="{% thumbnail blog.image '1920' as im %}{{ im.url }}{% endthumbnail %}"
            srcset="
                    {% thumbnail recipe.image '544' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
                    {% thumbnail recipe.image '768' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
                    {% thumbnail recipe.image '992' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
                    {% thumbnail recipe.image '1200' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
                    {% thumbnail recipe.image '1920' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %}"
            alt="Some awesome soup"
            sizes="100vw"
        />
        <br />
        <p>{{ blog.summary }}</p>
        {% endfor %}
    </div>
</main>

{% endblock %}