{% extends 'base.html' %}

{% block title %}
    Vu's Blog
{% endblock %}

{% block content %}

<main role="main">
    <div class="container">
        <h1 class="text-center pt-3">Welcome to Vu's Blog</h1>
        <br />
        <br />
        <h2>Latest Posts</h2>
        <hr />
        {% for blog in blogs.all %}
        <a href="{% url 'detail' blog.id %}"><h3>{{ blog.title }}</h3></a>
        {{ blog.pub_date_pretty }}
        <img class="img-fluid" src="{{ blog.image.url }}" />
        <br />
        <p>{{ blog.summary }}</p>
        {% endfor %}
    </div>
</main>

{% endblock %}