{% extends 'base.html' %}

{% load thumbnail %}

{% block title %}
    Blog: {{ blog.title }}
{% endblock %}

{% block content %}

<main role="main">
    <div class="container rounded shadow-sm pt-3">
        <h1 class="text-center pt-3">{{ blog.title }}</h1>
        <p class="text-center">{{ blog.pub_date }}</p>
        <img class="bd-placeholder-img card-img-top" src="{% thumbnail blog.image '1920' as im %}{{ im.url }}{% endthumbnail %}"
            srcset="
                    {% thumbnail blog.image '544' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
                    {% thumbnail blog.image '768' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
                    {% thumbnail blog.image '992' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
                    {% thumbnail blog.image '1200' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
                    {% thumbnail blog.image '1920' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %}"
            alt="Some awesome soup"
            sizes="100vw"
        />    
    </div>
    <div class="container rounded shadow-sm pt-3">
        {{ blog.body | linebreaks | urlize }}
    </div>
</main>

{% endblock %}
