{% extends 'base.html' %}

<!-- we have to add the below code to load static files for every template we use -->
{% load staticfiles %}

{% block title %}
	Vu Nguyen
{% endblock %}

{% block content %}

<main role="main">
	<section class="jumbotron text-center">
		<div class="container">
			<h1 class="jumbotron-heading">Hi, I'm Vu.</h1>
			<p class="lead text-muted">I'm an Mechanical Engineer but I've a fancy for coding.</p>
			<p class="lead text-muted">I'm in self-taught for Django and Python along with Machine Learning.</p>
			<p>
				<a href="mailto:vunguyenlethanh@gmail.com" class="btn btn-primary my-2">Email me</a>
			</p>
			<img class="img-fluid" height="250" width="250" src="{% static 'vu.jpg' %}" />
		</div>
	</section>

	
    
		<div class="album py-5 bg-light">
			<div class="container rounded shadow-sm">
				<h6 class="border-bottom border-gray pb-2 mb-2">Career</h6>
				<div class="row">
					{% for job in jobs.all %}
					<div class="col-md-4">
						<div class="card mb-4 shadow-sm">
							<a href="{{ job.url }}"><img class="bd-placeholder-img card-img-top" src="{{ job.image.url }}" /></a>
							<div class="card-body">
								<p class="card-text">{{ job.summary }}</p>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		
		<div class="album py-5 bg-light">
			<div class="container rounded shadow-sm">
				<h6 class="border-bottom border-gray pb-2 mb-2">Books</h6>
				<div class="row">
					{% for book in books.all %}
					<div class="col-md-4">
						<div class="card mb-4 shadow-sm">
							<a href="{{ book.url }}"><img class="bd-placeholder-img card-img-top" src="{{ book.image.url }}" /></a>
							<div class="card-body">
								<p class="card-text">{{ book.summary }}</p>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		
		<div class="album py-5 bg-light">
			<div class="container rounded shadow-sm">
				<h6 class="border-bottom border-gray pb-2 mb-2">Videos</h6>
				<div class="row">
					{% for video in videos.all %}
					<div class="col-md-4">
						<div class="card mb-4 shadow-sm">
							<iframe src="{{ video.url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							<div class="card-body">
								<p class="card-text">{{ video.summary }}</p>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
</main>

{% endblock %}
